.App {
    line-height: 20px;
    margin: auto 50px;
}

.SkillTable table{
    display:flex;
 }

.SkillHead tr{
    display:flex;
    flex-direction: column;
}

.SkillHead tr th{
    display:flex;
    flex-direction: column;
}

.SkillBody tr td{
    display:flex;
    flex-direction: column;
}




